body{
  background:url('../assets/weatherskys.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
  
  /* background-size: 130rem;
  background-repeat: no-repeat;
  background-position: flex; */


header{
  padding: 3rem;
}

h1 {
    font-size: 3rem;
}

#search-term{
  font-size: 18px;
  border-radius: 10rem;
}

.btn{
  border-radius: 22px;
  padding: 10px;
  width: 8rem;
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  border: darkslategray;
}

.btn:hover{
  background-color:rgba(255, 255, 255, 0.5)
}