body{
  background:url('../assets/weatherskys.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

h1 {
    font-size: 3rem !important;
}

#current-date{
  color:#3a3b3d !important;
}